/*css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*bg-color*/
:root {
  --background2: #02050e;
  --primary2: #1e50ff;
  --secondary2: #272d37;
  --btn-bg: #050d26;
  --bg-azul: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --background #0466C8;
  --primary: #0353A4;
  --secondary: #023E7D;
  --bg-navbar: #001845;
  --bg-card: #33415C;
  --bg-cardII: #5C677D;
  --bg-cardIII: #979DAC;
  --bg-secodary: #002855;
  --colorText: #E8E9EB;
  --colorTextII: #F4F4F5;
}


/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: none;
  list-style: none;
  font-family: "poppins";
}

h1 h2 h3 p {
  font-family: "Poppins";
}

body {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  top: 0%;
  background: linear-gradient(90deg, rgba(9, 149, 150, 1) 0%, rgba(2, 143, 255, 1) 80%);
  text-decoration: none;
}
.img-menu-hambur{
  width: 35px;
  height: 40px;
  margin: 5px 15px 5px ;
}
.logo {
  margin-left: 2%;
  width: 250px;
  height: 60px;
}

/*carrito de compras*/
.cart-icon {
  height: 25px;
  padding: 0px 10px 0px 20px;
  cursor: pointer;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 5px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  text-decoration: none;
  color: var(--colorText);
  font-size: 12px;
}

.navbar-list li:first-child>a {
  color: var(--colorTextII);
  font-weight: 600;
}

/*start second nav*/
.second-nav {
  width: 100%;
  background-color: var(--bg-azul);
  position: static;
}

.li-second-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 25px;
  padding: 0px 30px 0px 30px;
  gap: 10px;
  color: var(--secondary2);
  font-size: 10px;
}

.li-second-nav a {
  text-decoration: none;
}

.img-wpp {
  width: 15px;
  height: 15px;
}

.img-envio {
  width: 15px;
  height: 15px;
}

/*hero*/
.container {
  width: 100%;
}

.img-hero {
  width: 100%;
  margin-top: 2.5%;
}


/* card nombre */
.article-container {
  widows: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 0% 0 0;
}

.container-info {
  width: 520px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  background-image: url(../img/nubes-transparente.png);
  border-radius: 10px;
  gap: 20px;
}

.info-card {
  width: 300px;
  height: 120px;
  font-size: 12px;
  background-color: var(--color-ultra_light_gray);
  border-radius: 15px;
  padding: px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-card {
  display: flex;
  padding: 10px;

}

.img-card {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.card-h2-nc {
  font-size: 20px;

}

/* info nosotros */
.card-h2-nst {
  font-size: 22px;
  background-color: var(--color-ultra_light_gray);
  width: 500px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info-quienes-somos {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 30px;
  background-image: url(../img/nubes-transparente.png);
  border-radius: 10px;
  gap: 20px;
  font-size: 15px;
}


/*productos*/

.name-produc {
  display: flex;
  justify-content: center;
  margin-top: 90px;

}

.name-produc h1 {
  background-color: rgb(254, 255, 249);
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 30px;
  border: solid 2px var(--background2);
  border-radius: 10px;
}

.container-productos {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  gap: 70px;
  justify-content: center;
}

.container-produc {
  border: solid 1px #b0b1b3;
  ;
  padding: 10px;
  box-shadow: 5px 5px 8px 0.5px rgba(53, 50, 50, 0.195);
}


.producto {
  width: 220px;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;

}

.producto h2 {
  font-size: 20px;
}

.producto p {
  margin-top: 15px;
  font-size: 14px;
}

.img-producto {
  margin: 10px 0 20px 0;
  width: 200px;
  height: 200px;
}

.precio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.btn-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn-comprar {
  width: 80%;
  background-color: rgb(16, 34, 151);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorText);
}

/* contactanos */

.container-form-contacto {
  display: flex;
  justify-content: center;

}

.contactanos {
  background-color: #eceaea;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  gap: 15px;
}

.mapa {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.container-contacto {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 5px;
  font-weight: 300;
}

.container-redes {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 10px;
}


/* carrito de compras */

.cart {
  background-color: #ebe9e9;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 50px 30px;
  border-left: 1px solid var(--background2);
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: scroll;
  z-index: 2;
  display: none;
}

.cart-h2 {
  color: var(--colorText);
  font-size: 20px;
  font-weight: 400;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--btn-bg);
  border-radius: 20px;
}

.cart-item img {
  width: 65px;
  height: 65px;
}

.item-title {
  color: var(--btn-bg);
  font-weight: 500;
  font-size: 18px;
}

.item-precio {
  color: #02050e;
  font-size: 15px;
  font-weight: 400;
}

.item-price {
  background-color: #1e50ff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 15px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: #b0b1b3;
  font-weight: 400;
}

.up {
  border: 1px solid var(--bg-cardIII);
}

.down {
  border: 1px solid var(--bg-cardIII);
}

.btn-add {
  background-color: #0831ac;
  color: var(--colorText);
}

.divider {
  margin-top: 20px;
  border: 1px solid var(--background2);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.cart::-webkit-scrollbar {
  display: none;
}

/* oculta o muestra carrito */

#cart-toggle, 
#menu-toggle,
.menu-label{
  display: none;
}

#cart-toggle:checked+.cart {
  display: flex;
}

/*footer*/

footer {
  margin-top: 7%;
  color: var(--color-timeline_blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px 0;
}

footer a,
footer p {
  color: var(--color-timeline_blue);
  font-weight: 300;
  font-size: 14px;
}

footer span {
  font-weight: 800;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}